@tailwind base;
@tailwind components;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500;700&family=Archivo:wght@400;700&display=swap");
@tailwind utilities;
